<footer class="container clearfix">
    <div id="foot-nav" class="twelve columns">
        <ul>
            <li class="first"><a href="{{ asset('/')}}">Home</a></li>
            <li><a href="{{ asset('/howitworks')}}">How it works</a></li>
            <li><a href="{{ asset('/pricing')}}">Pricing</a></li>
            <li><a href="http://wiki.megabile.com">Wiki</a></li>
            <li class="last"><a href="{{ asset('/contact')}}">Contact</a></li>
        </ul>                
    </div>

    <div id="copyright" class="four columns">
        <p><a href="http://www.magabile.com" target="_blank">www.magabile.com</a> </p>
        <p><span>© copyrigth 2013</span></p>
    </div>
</footer>

<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//cdn.zopim.com/?dsfCwBnuGe3KXZ76CiIZHHqmsuiiBDNF';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->     
        
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}            
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-16868389-11', 'megabile.com');
        ga('send', 'pageview');
    </script>       
{% endif %}        
 

