{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<section id="title" style="padding-bottom: 10px;" class="container clearfix">
<p>
{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
</p>
</section>


{% endblock %}
