{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<section id="title" style="padding-bottom: 10px;" class="container clearfix">
    <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
</section>


{% endblock fos_user_content %}
