{# src/Acme/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}
{% block body %}
<section id="title" class="container clearfix">
    <div class="ten columns">

        <h1>Contact Us.</h1>
        <h2>So, you've arrived at the contact page... Which hopefully means that you'd like to talk to us. No problem just fill up the form below.</h2>

    </div>
</section>
<section id="contact" class="container clearfix">
    <div class="ten columns">
        <!-- Form -->
        
        <form class="widthform" action="{{ path('_magazento_contact') }}" method="post" {{ form_enctype(contact_form) }}>
            <fieldset>
                {{ form_widget(contact_form) }}
            </fieldset>
            <div class="form-click">
                <span><input type="submit" name="submit" value="Send" id="submit"></span>
            </div>        
        </form>   
          <!-- 
        <form class="widthform" method="post" action="post.php" name="contactform" id="contact-form">
            <fieldset>
                <div class="form-field">
                    <label for="name"><h5>Name</h5></label>
                    <span><input type="text" name="name" id="name" required="required"></span>
                </div>
                <div class="form-field">
                    <label for="email"><h5>Email</h5></label>
                    <span><input type="email" name="email" id="email" required="required"></span>
                </div>
                <div class="form-field">
                    <label for="message"><h5>Message</h5></label>
                    <span><textarea name="message" id="message" required="required"></textarea></span>
                </div>
            </fieldset>
            <div class="form-click">
                <span><input type="submit" name="submit" value="Send" id="submit"></span>
            </div>
        </form>	
      End Form -->
        <div id="alert"></div>
    </div>

    <aside class="six columns">
        
        <div id="infobox" class="five columns clearfix">
            <h2>Got someting to say ?</h2>
            <br/>
                <a class="button" href="mailto:service@magazento.com">service@magazento.com</a>
            <br/>
            <br/>
            <blockquote>
                    <p>We think that if you have a feedback or you have found issues in our software then you should definitely speak to us.</p>
                    <p>We're a friendly, skilled team always prepared to help.</p>
            </blockquote>            
        </div>         
    </aside>	


</section>
{% endblock %}