{# src/Acme/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}
{% block body %}
<section id="title" style="padding-bottom: 10px;" class="container clearfix">


    <!-- Title -->
    <div class="ten columns">

        <h1>Billing Plans.</h1>
        <h2>No extra fees. Cancel at anytime. Make your entire store available in iPhone and Android!</h2>

    </div>
    <!-- End Title -->


</section>
<section id="title" style="padding-top: 10px;"  class="container clearfix pricing">
    <div class="hostingPlans clearfix">
        <div class="column small">
            <h1>FREE<br><span>Best for: Start-ups</span></h1>
            <ul class="keyFeatures">
                <li><strong>100</strong> products</li>
                <li><strong>iPhone</strong> application</li>                
                <li><strong>Community</strong> support</li>                
            </ul>
            <ul class="additionalFeatures">
                <li>iOS 5.0 and higher </li>
                <li>iOS 6.0 and higher </li>
                <li>30 days billing period<li>
                <li>No third party logos<li>
                <li>No transaction fees<li>
                <li>No contracts<li>
                <li>Multi-language<li>
            </ul>
            <div class="price">
                <strong>$0</strong><br><br><span> 250 USD as a bonus while we on BETA</span>
            </div>
        </div>
        <div class="column small">
            <h1>PROFESSIONAL<br><span>Best for: Small Businesses</span></h1>
            <ul class="keyFeatures">
                <li><strong>500</strong> products</li>
                <li><strong>iPhone</strong> application</li>
                <li><strong>Email (24-48h)</strong> support</li>                     
            </ul>
            <ul class="additionalFeatures">
                <li>iOS 5.0 and higher </li>
                <li>iOS 6.0 and higher </li>
                <li>30 days billing period<li>
                <li>No third party logos<li>
                <li>No transaction fees<li>
                <li>No contracts<li>
                <li>Multi-language<li>            
            </ul>
            <div class="price">
                <strong>$50</strong><br><br><span> 250 USD as a bonus while we on BETA</span>
            </div>
        </div>
        <div class="column small">
            <h1>BUSINESS<br><span>Best for: Big Projects</span></h1>
            <ul class="keyFeatures">
                <li><strong>2000</strong> products</li>
                <li><strong>iPhone</strong> application</li>
                <li><strong>Email (12-24h)</strong> support</li>                          
            </ul>
            <ul class="additionalFeatures">
                <li>iOS 5.0 and higher </li>
                <li>iOS 6.0 and higher </li>
                <li>30 days billing period<li>
                <li>No third party logos<li>
                <li>No transaction fees<li>
                <li>No contracts<li>
                <li>Multi-language<li>
            </ul>
            <div class="price">
                <strong>$100</strong><br><br><span> 250 USD as a bonus while we on BETA</span>
            </div>
        </div>
        <div class="column small">
            <h1>ENTERPRISE<br><span>Best for: Resellers, Dropshippers</span></h1>
            <ul class="keyFeatures">
                <li><strong>10000</strong> products</li>
                <li><strong>iPhone</strong> application</li>
                <li><strong>Email (6-12h)</strong> support</li>                  
            </ul>
            <ul class="additionalFeatures">
                <li>iOS 5.0 and higher </li>
                <li>iOS 6.0 and higher </li>
                <li>30 days billing period<li>
                <li>No third party logos<li>
                <li>No transaction fees<li>
                <li>No contracts<li>
                <li>Multi-language<li>             
            </ul>
            <div class="price">
                <strong>$300</strong><br><br><span> 250 USD as a bonus while we on BETA</span>
            </div>
            
        </div>
    </div>
    <div class="contentInfoBox">
        <p> 
            <a style="width: 400px;float: left;" class="colorButton" href="{{ asset('/register')}}"><span class="pointer">Get Started for FREE!</span></a> 
            <span style="margin-top: 10px; float: left; margin-left: 50px;">Note: you always able to switch your plan in <strong>BILLING</strong> section!</span>
        </p>
    </div> 
    <div class="one-third column">
        <p class="text">
            <h2> Up to 100 Products is FREE</h2>
            Up to 100 Products is FREE! It is a winning situation for small stores and start-ups, that can push your stores out of the crowd! That is always easy for you to upgrade or downgrade your billing plan in the billing section
        </p>         
    </div>     
    <div class="one-third column">
        <p class="text">
            <h2>Billing & Payment</h2>
            Our billing cycle equals 30 days and it starts when your register on Megamobile. You start with FREE billing plan and 100 products each time your change your billing period we zero out countdown.
        </p>
    </div>    
    <div class="one-third column">
        <p class="text">
            <h2> Forgot To Make a Payment?</h2>
            We send notification E-mails for the clients each time their balance is less than monthly price. In case you forget to make a donation in the end of the 30 days period your Megmobile account will be swithced to the Free plan automatically           
        </p>        
    </div> 
<br class="clear">        
    <div class="one-third column">
        <p class="text">
            <h2> iPhone application</h2>
            In Megabile we glad to provide you the simpliest way for pulishing your store on iPhone, already customized for  your brand. 
            Just make several clicks following our instructions and you will got how to create and submit your application 
            to the Apple App Store with the use of The Megabile.
        </p>
    </div>        
    <div class="one-third column">
        <p class="text">
            <h2> Android application</h2>
            The Megabile is an extrememly easy way for creating, reviewing and submitting your store to the Google Play Android Market. 
            No programming experience is required - just a few clicks and you have got your own Android Application working. 
        </p>        
    </div>        
    <div class="one-third column">
        <p class="text">
            <h2>E-Commerce Platforms</h2>
            The feature is that no developement required - you get full integration just out of the box. 
            A vast amount of other Ecommerce Platforms will also be supported soon. 
            If you have a different platform in use, just contact us to get the information when it will be supported.
        </p>         
    </div>        
</section>

{% endblock %}