<section id="title" style="padding-bottom: 10px;" class="container clearfix">

        <h1>Password Change.</h1>
        <h2>Enter current password, and new password (twice for verification) then click on Change Password. </h2>
</section>
<div class="two-thirds column">
    
    <form class="widthform" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        {{ form_widget(form) }}
        <div class="form-click">
            <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </form>
    
    <!-- End Form -->
    <div id="alert"></div>
</div>
