{% extends 'MagazentoUserBundle::layout.html.twig' %}
{% block fos_user_content %}
<section id="title" class="container clearfix">

    <div class="ten columns">

        <h1>Android Settings.</h1>
        <h2>So, you've arrived at the android Settings page... No problem just upload your certificate and provisioning file!</h2>

    </div>


</section>
{% endblock %}